.img-container{
  display: block;
  margin: 0;
  img{
    margin: 0;
    width: 100%;
  }
}
.text{
  margin: 0;
  text-indent: 16px;
  display: inline-block;
  padding: 20px;
  background-color: #eee;
}
