.card{
  display: flex;
  flex-wrap: wrap;
  .caption-container{
    text-align: center;
    margin: 0;
    display: flexbox;
    width: 100%;
    background-color: #eee;
    h2{
      margin-top: 1rem;
    }
  }

  img{
    display: flexbox;
    width: 100%;
    margin: 0;
    max-width: 520px;
  }

  .text{
    width: 100%;
    margin: 0;
    text-indent: 16px;
    display: inline-block;
    padding: 20px;
  }
}
