<header class="header" >
  <nav>
    <div class="header-menu-button--container">
      <button class="menu-button" (click)="toggleShowSideBar()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="menu-icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
        </svg>
      </button>
    </div>
  </nav>
</header>
<div class="mobile-menu--sidebar" [class.active]="showSideBar" >
  <span >
     <ul (click)="toggleShowSideBar()">
      <div class="mobile-sidebar--closebutton" ><p>X</p></div>
      <li><a href="#grano">Desde el Grano</a></li>
      <li><a href="#verde">El Café Verde</a></li>
      <li><a href="#tostado">El Tostado</a></li>
      <li><a href="#molienda">La Molienda</a></li>
      <li><a href="#taza">La Taza</a></li>
     </ul>
  </span>
</div>
