header{
  display: block;
  background-color: #9AB79A;
  padding: 1rem;
}
.header-menu-button--container{
  display: inline-block;
  padding: 10px;
  background-color: #9A9AB7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  .menu-button{
    display: inline-block;
    border: 0;
    background-color:#9A9AB7;
    svg{
      height: 30px;
      background-color: #9A9AB7;
      margin: 0;
    }
  }
}

.mobile-menu--sidebar{
  display: inline-block;
  transform: translateX(-100%);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: ease 0.5s;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
  &.active{
    transform: translateX(0);
  }
  li{
    padding-top:20px ;
  }
  a{
    color: #000;
  }
  .mobile-sidebar--closebutton{
    display: inline-block;
    padding: 10px;
    background-color: #9AB79A;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
