
.img-container{
  position: relative;
  z-index: -1;
  width: 100%;
  img{
    width: 100%;
  }
  .name{
    font-family: 'Dancing';
    top: 13%;
  }

}
h2{
  margin: 20px;
}
@media (max-width:520px){
  h2{
    position: absolute;
    bottom: 5%;
    left: 10%;
    font-weight:900;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Playfair';
  }
  .name{
    font-size: 30px;
  }
}
@media (min-width:520px) and (max-width:720px){
  h2{
    position: absolute;
    bottom: 7%;
    left: 10%;
    font-weight:900;
    font-size: 35px;
    color: aliceblue;
    font-family: 'Playfair';
  }
  .name{
    font-size: 43px;
  }
}
@media (min-width:720px){
  h2{
    position: absolute;
    top:75%;
    left: 10%;
    font-weight:900;
    font-size: 40px;
    color: aliceblue;
    font-family: 'Playfair';
  }
  .name{
    font-size: 43px;
  }
}
