.img-container{
  position: relative;
  z-index: -1;
  width: 100%;
  img{
    width: 100%;
  }
  h2{
    position: absolute;
    top:65%;
    left: 10%;
    font-weight:900;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Playfair';
  }
}
